@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primary: rgb(15, 35, 50);
    --secondary: rgb(220, 220, 220);
    --accent: rgb(185, 135, 10)
}

/* GENERAL */

* {
    font-family: Dosis;
    font-size: 1em;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: var(--primary);
    /* background-color: var(--secondary); */
}

/* TOP MENU STYLE */

header {
    position: fixed;
    top: 0;
    background-color: var(--primary);
    border-bottom: solid 0.2em var(--accent);
    height: 4em;
    width: 100%;
    font-size: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 3em;
    padding: 0.5em;
    margin: 0 2em;
    object-fit: cover;
}

.menu {
    list-style: none;
    display: flex;
    white-space: nowrap;
}

.menu li {
    padding: 0 2em;
}

.activePage {
    text-decoration: underline;
    color: var(--accent);
}

.menuLink {
    color: var(--secondary);
    text-decoration: none;
}

.hidden {
    display: none;
}

/* PROJECT IMAGE SLIDER */


.projectImage {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    object-fit: cover;
}

.projectImage img {
    width: 100%;
}

/* FOOTER GENERAL */

.doorzichtigeFooter, .blauweFooter {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    flex: 1;
    font-size: 1.3rem;
    font-weight: 600;
}

.contactImage {
    margin-right: 2em;
}

.contactImage img {
    max-height: 2em;
    padding: 0.5em;
    display: inline-flex;
}

/* TRANSPARANT FOOTER */

.doorzichtigeFooter {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
}

/* BLUE FOOTER */

.blauweFooter {
    background-color: var(--primary);
}

.blauweFooter .copyright {
    color: var(--secondary);
}