@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primary: rgb(15, 35, 50);
    --secondary: rgb(220, 220, 220);
    --accent: rgb(185, 135, 10);

}



body {
    font-family: Dosis, Calibri, 'Times New Roman', sans-serif;
    font-size: 1.3em;
    background-color: var(--secondary);
}

a {
    text-decoration: none;
    color: var(--secondary);
}

.card-title {
    color: var(--accent);
}

.card:hover {
    transform: scale(1.1, 1.1);
}

.badge {
    background-color: var(--secondary);
    border: 2px solid var(--accent);
    color: var(--accent);
    font-size: 1.2em;
    margin-right: 1em;
}



.rounded-pill {
    background-color: var(--primary);
    border: 3px solid var(--accent);
    color: var(--accent);
    font-weight: 600;
}

.rounded-pill:hover {
    background-color: var(--accent);
    color: var(--primary);
    border-color: var(--accent);
}

.title {
    color: var(--accent);
    border-bottom: 0.2rem solid var(--accent);
    text-transform: uppercase;
}

/* NAV-BAR */
.navbar {
    background-color: var(--primary);
}

.navbar-brand img {
    width: 3em;
    margin: 0 1em;
}

.nav-link {
    color: var(--secondary);
    margin: 0 1em;
}

.nav-link:hover:not(.active) {
    color: var(--accent);
    transform: scale(1.2);
}


.navbar-nav .nav-link.active {
    color: var(--accent);
    text-decoration: underline;
}

/* HERO BANNER */
.text-body-emphasis {
    text-transform: uppercase;
}

.text-muted>strong {
    color: var(--accent);
}

/* CARDS */
.card {
    width: 20rem;
    margin: 0 auto;
}

.card-body {
    font-size: 0.8em;
}

/* CV */
.sidebar {
    background-color: var(--primary);
    color: var(--secondary);
    border: 5px solid var(--accent);
    border-radius: 10px;
}

.talen {
    width: 100%;
}

.level {
    width: 60%;
}

.accordion-button {
    font-weight: 600;
}


.accordion-container {
    padding: 0 0.5em;
}

.accordion-item {
    padding: 0;
}

.accordion-body {
    font-size: 0.8em;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: var(--primary);
    color: var(--accent);
    box-shadow: 0 0 0 0.25rem rgba(185, 135, 10, 0.5);
}

.ervaring-image:hover {
    transform: scale(1.1, 1.1);
}

.modal-link {
    color: var(--primary);
    text-decoration: underline;
}

/* CONTACT */
form {
    min-height: 79vh;
}

.form-control,
.form-select {
    background-color: var(--secondary);
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--primary);
}

.form-control:hover,
.form-select:hover {
    border-bottom: 2px solid var(--accent);
}

.form-control:focus,
.form-select:focus {
    background-color: inherit;
    border-color: var(--accent);
    box-shadow: none;
    cursor: text;
}

.logo-link-big img {
    width: 40%;
    padding-top: 5em;
}

/* FOOTER */
footer {
    padding-right: 1em;
    background-color: var(--primary);
}

.logo-link img {
    width: 2em;
}



.copyright {
    color: var(--secondary);
    font-weight: 500;
}